a {
  text-decoration: none;
  color: map-get($colors, red);

  &:visited {
    color: map-get($colors, red);
  }

  &:hover {
    color: map-get($colors, darkerRed);
    transition: color .2s;
  }

  &:active {
    color: map-get($colors, darkerRed);
    transition: color .2s;
  }
}