a {
  text-decoration: none;

  &:link {
    color: map-get($colors, black);
  }

  &:visited {
    color: map-get($colors, green);
  }

  &:hover {
    color: map-get($colors, blue);
  }

  &:active {
    color: map-get($colors, blue);
  }
}