.header {
    text-align: center;

    background-size: cover;
    background-position: center 37.5%;
    background-repeat: no-repeat;

    height: 50vh;
    min-height: 300px;
}

.current {
  color: map-get($colors, green);
}